<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="" th:href="@{/css/home.css}" />

</head>
<body>

<p>Welcome <span th:text="${userName}"></span></p>


<table> <!--th:if="${not #lists.isEmpty(exerciseList)}">-->
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Muscle</th>
        <th>Difficulty</th>
        <th>Equipment</th>
        <th>Instructions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="exercise : ${exerciseList}">
        <td th:text="${exercise.name}"></td>
        <td th:text="${exercise.type}"></td>
        <td th:text="${exercise.muscle}"></td>
        <td th:text="${exercise.difficulty}"></td>
        <td th:text="${exercise.equipment}"></td>
        <td th:text="${exercise.instructions}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>
